name: Gradle Publish

on:
  workflow_call:
    secrets:
      NEXUS_REPO_PASSWORD:
        required: true
      NVD_API_KEY:
        required: false
      CODECOV_TOKEN:
        required: false
      SONAR_TOKEN:
        required: false
      TEAMS_IDN_WH_URL:
        required: true
    inputs:
      disable-dependency-check:
        description: 'Disable OWASP dependency check step'
        default: false
        required: false
        type: boolean
      runs-on:
        description: 'Runner lable, default to ubuntu-latest'
        default: 'ubuntu-latest'
        required: false
        type: string

jobs:
  gradle-publish:
    name: Gradle Publish

    runs-on: ${{ inputs.runs-on }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Shallow clones is disabled for a better relevancy of sonar analysis
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      with:
        gradle-version: wrapper
    - name: Cache SonarCloud packages
      uses: actions/cache@v4
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar
    - name: Execute Gradle build
      run: ./gradlew -Djava.security.egd=file:/dev/./urandom -Dorg.gradle.console=plain --no-daemon -PverboseTests=true check
      env:
        ORG_GRADLE_PROJECT_repoUsername: deployment
        ORG_GRADLE_PROJECT_repoPassword: ${{ secrets.NEXUS_REPO_PASSWORD }}
    - name: Upload Test Report
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      with:
        name: test-report
        path: '**/build/reports/tests/test/'
        retention-days: 2
    - name: Upload Spotbugs Report
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      with:
        name: spotbugs-report
        path: '**/build/reports/spotbugs/'
        retention-days: 2
    - name: Upload Jacoco Report
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      with:
        name: jacoco-report
        path: '**/build/reports/jacoco/test/html/'
        retention-days: 2
    - name: codecov.io
      if: ${{!github.event.repository.private}}
      uses: codecov/codecov-action@v5.1.2
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    - name: Execute Sonar Analyse
      if: env.SONAR_TOKEN != null
      run: ./gradlew -Djava.security.egd=file:/dev/./urandom -Dorg.gradle.console=plain --no-daemon -D"org.gradle.jvmargs=-XX:MetaspaceSize=512m" sonar --info --stacktrace
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    - name: Gradle Dependency Check Analyze
      # Temporarily disable dependencyCheckAnalyze as it doesn't work with the NVD API
      if: ${{ inputs.disable-dependency-check != true }}
      run: ./gradlew -Djava.security.egd=file:/dev/./urandom -Dorg.gradle.console=plain --no-daemon dependencyCheckAnalyze -PdependencyCheckNvdDatafeedUrl='https://raw.githubusercontent.com/interlok-tooling/nvd-cves-mirror/nvd-cache/nvd_api_cache/'
      env:
        NVD_API_KEY: ${{ secrets.NVD_API_KEY }}
    - name: Upload OWASP Dependency Check Report
      # Temporarily disable dependencyCheckAnalyze as it doesn't work with the NVD API
      if: ${{ inputs.disable-dependency-check != true }}
      uses: actions/upload-artifact@v4
      with:
        name: owasp-dependency-check-report
        path: '**/build/reports/dependency-check-report.html'
        retention-days: 2
    - name: Publish package
      if: success()
      run: ./gradlew -Djava.security.egd=file:/dev/./urandom -Dorg.gradle.console=plain --no-daemon publish -x test
      env:
        ORG_GRADLE_PROJECT_repoUsername: deployment
        ORG_GRADLE_PROJECT_repoPassword: ${{ secrets.NEXUS_REPO_PASSWORD }}
# We don't use team anymore. We need to do something for google chat
#    - name: Notify Teams About Failure and Recovery
#      if: ${{ github.event.secrets.TEAMS_IDN_WH_URL }}
#      uses: interlok-tooling/notify-teams@main
#      with:
#        teams-webhook-url: ${{ secrets.TEAMS_IDN_WH_URL }}
