name: Gradle Check

on:
  workflow_call:
    secrets:
      NEXUS_REPO_PASSWORD:
        required: false
      NVD_API_KEY:
        required: false
      CODECOV_TOKEN:
        required: false
      SONAR_TOKEN:
        required: false
      TEAMS_IDN_WH_URL:
        required: false
    inputs:
      disable-dependency-check:
        description: 'Disable OWASP dependency check step'
        default: false
        required: false
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  gradle-check:
    name: Gradle Check

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Shallow clones is disabled for a better relevancy of sonar analysis
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
      with:
        gradle-version: wrapper
    - name: Cache SonarCloud packages
      uses: actions/cache@v4
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar
    - name: Execute Gradle build
      run: ./gradlew -Djava.security.egd=file:/dev/./urandom -Dorg.gradle.console=plain --no-daemon -PverboseTests=true check
      env:
        ORG_GRADLE_PROJECT_repoUsername: ${{  secrets.NEXUS_REPO_PASSWORD && 'deployment' || '' }}
        ORG_GRADLE_PROJECT_repoPassword: ${{ secrets.NEXUS_REPO_PASSWORD }}
    - name: Upload Test Report
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      with:
        name: test-report
        path: '**/build/reports/tests/test/'
        retention-days: 2
    - name: Upload Spotbugs Report
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      with:
        name: spotbugs-report
        path: '**/build/reports/spotbugs/'
        retention-days: 2
    - name: Upload Jacoco Report
      if: ${{ always() }}
      uses: actions/upload-artifact@v4
      with:
        name: jacoco-report
        path: '**/build/reports/jacoco/test/html/'
        retention-days: 2
    - name: codecov.io
      if: ${{ !github.event.repository.private }}
      uses: codecov/codecov-action@v5.3.1
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
    - name: Execute Sonar Analyse
      if: env.SONAR_TOKEN != null
      run: ./gradlew -Djava.security.egd=file:/dev/./urandom -Dorg.gradle.console=plain --no-daemon -D"org.gradle.jvmargs=-XX:MetaspaceSize=512m" sonar --info --stacktrace
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
# We don't use team anymore. We need to do something for google chat
#    - name: Notify Teams About Failure and Recovery
#      if: ${{ github.event.secrets.TEAMS_IDN_WH_URL }}
#      uses: interlok-tooling/notify-teams@main
#      with:
#        teams-webhook-url: ${{ secrets.TEAMS_IDN_WH_URL }}

  dependency-check:
    name: Dependency Check Analyze

    if: ${{ inputs.disable-dependency-check != true && github.actor != 'dependabot[bot]' }}

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Shallow clones is disabled for a better relevancy of sonar analysis
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      with:
        gradle-version: wrapper
    - name: Execute Gradle build
      run: ./gradlew -Djava.security.egd=file:/dev/./urandom -Dorg.gradle.console=plain --no-daemon -PverboseTests=true build
      env:
        ORG_GRADLE_PROJECT_repoUsername: ${{  secrets.NEXUS_REPO_PASSWORD && 'deployment' || '' }}
        ORG_GRADLE_PROJECT_repoPassword: ${{ secrets.NEXUS_REPO_PASSWORD }}
    - name: Gradle Dependency Check Analyze
      run: ./gradlew -Djava.security.egd=file:/dev/./urandom -Dorg.gradle.console=plain --no-daemon dependencyCheckAnalyze
      env:
        NVD_API_KEY: ${{ secrets.NVD_API_KEY }}
    - name: Upload OWASP Dependency Check Report
      uses: actions/upload-artifact@v4
      with:
        name: owasp-dependency-check-report
        path: '**/build/reports/dependency-check-report.html'
        retention-days: 2
